* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-attachment: fixed;

}

.option-contain {
    top: 0;
}

.option {
    border: 1px solid white;
    border-radius: 0;
    color: white;
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;

}

.nodeing {
    background-color: rgba(0, 0, 0, 0.33);
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.text {
    padding: .5rem 1rem;
    text-align: center;
    margin-bottom: 0px;
    color: white;
    font-size: 22px;
    line-height: 80px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.menu {
    list-style: none;

}

li {
    display: inline-block;
}

.menu2,
.menu3,
.menu4,
.menu5 {
    margin-left: 7%;
}

.slide {
    color: white;
    text-decoration: none;
}

.backdrop {
    background-image: url("../img/back1.png");
    height: 750px;
    background-size: cover;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
}


.txt1 {
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 40px;
}

.txt2 {
    color: white;
    font-size: 24px;
    margin-bottom: 45px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.txt3 {
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px 60px;
    cursor: pointer;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 100;


}

.txt3:hover {
    background-color: white;
    color: black;
}

.news1-txt3:hover,
.news2-txt3:hover,
.news3-txt3:hover,
.txt-submit:hover {
    background-color: #4EA7FF;
    color: white;
}



.second-part {
    background-color: #f4f4f4;


}

.News {
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.news1,
.news2 {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.news3 {
    display: flex;
    justify-content: center;
}

.news2 {
    display: flex;
    flex-direction: row-reverse;
}


.txt-contain1,
.txt-contain2,
.txt-contain3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.news1-photo,
.news2-photo,
.news3-photo {
    width: 50%;
}


.news1-txt,
.news2-txt,
.news3-txt {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    text-align: right;
}

.news1-txt1,
.news1-txt2,
.news2-txt1,
.news2-txt2,
.news3-txt1,
.news3-txt2 {
    text-align: left;
}

.news1-txt1,
.news2-txt1,
.news3-txt1 {
    font-weight: 300;
    margin-bottom: 30px;
    color: #666666;
    font-size: 2rem;
    font-family: inherit;
    line-height: 1.1;
}

.news1-txt2,
.news2-txt2,
.news3-txt2 {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.8;
    color: #666;
    margin-top: 0;
    margin-bottom: 1rem;
}

.news1-txt3,
.news2-txt3,
.news3-txt3 {
    display: inline-block;
    background: transparent;
    font-size: 20px;
    padding: 0.5em 2.5em;
    margin: 0.25em;
    border: 2px solid #4EA7FF;
    color: #4EA7FF;
    border-radius: 50px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}

.pic {
    padding-bottom: 5%;
    padding-top: 5%;
    overflow: auto;
}

.title {
    text-align: center;
}

.title1 {
    font-size: 43px;
    margin-bottom: 40px;
    color: #006699;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
}

.title2,
.title3 {
    margin-bottom: 5px;
    color: #666;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 100;
    line-height: 1.5;
}

.picture {
    width: 100%;
    height: auto;
    padding-top: 60px;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.landscape-picture {
    width: 25%;
    max-width: 300px;
    float: left;
}

.forth-part {
    background-color: #f4f4f4;
}

.contact {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

}

.headline {
    margin-bottom: 40px;
}

.information {
    display: flex;
    padding-right: 12%;
    padding-left: 12%;
    line-height: 1.5;
}

.information1 {
    display: flex;


}

.txt-name,
.txt-email {
    flex: 1;
}

.txt-name {
    margin-right: 30px;
}

.headline-txt {
    font-size: 43px;
    color: #006699;
    text-align: center;
}

.information-contain {
    display: block;
    display: flex;
    flex-direction: column;
    /* flex: 2; */
    width: 66.666%;
    margin-right: 20px;
}

.txt-name,
.txt-email,
.txt-subject,
.txt-message {
    display: block;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: 1.2rem;
    padding: 0.75rem;
    margin-bottom: 1.8rem;
}

.txt-message {
    padding-bottom: 200px;
}

.but {
    text-align: end;
}

.txt-submit {
    background: transparent;
    border: 2px solid #4EA7FF;
    color: #4EA7FF;
    border-radius: 50px;
    font-size: 19px;
    padding: 0.5em 2.5em;
    cursor: pointer;
}

.tel {
    display: flex;
    flex-direction: column;
    width: 33.333%;
}

.tel1 {
    font-size: 25px;
    margin-bottom: 30px;
    color: #4EA7FF;
    font-weight: 500;
}

.tel2,
.tel3 {
    color: #666;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: 19px;
}

@media (min-width: 768px) {
    .option {
        display: none;
    }
}

.drop-down-content {
    display: none;
}

@media(max-width:768px) {
    .text {
        display: none;
    }

    .option-contain {

        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        right: 0;
        left: 0;
    }

    .drop-down-content {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        display: none;
    }

    .drop-down {
        text-align: center;
        display: block;

    }

    .drop-down-menu {
        float: none;
        padding: .5rem 1rem;
        text-align: center;
        margin-bottom: 0px;
        color: white;
        font-size: 22px;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-weight: 100;
    }

    /* .nav.drop-down:hover .drop-down-content {
        display: block;
    } */

    .option {
        display: block;
        margin-left: auto;
        margin-right: 0;
        padding: 0.5rem, 0.75rem;
        margin-top: 2%;
        margin-bottom: 2%;
        cursor: pointer;
    }


    .nodeing {
        background: none;
        box-shadow: none;
        height: 54px;
    }
}

@media (max-width: 991px) {

    .news1,
    .news2,
    .news3 {
        flex-direction: column;
        margin: 0 auto 5% auto;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
    }

    .news1-photo,
    .news2-photo,
    .news3-photo {
        width: 100%;
        display: block;
        height: auto;

    }
}



@media (max-width: 640px) {
    .picture {
        max-width: 600px;
    }

    .landscape-picture {
        width: 50%;
    }
}

@media screen and (min-width: 640px) and (max-width:940px) {
    .picture {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }

    .landscape-picture {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .information {
        flex-direction: column;
    }

    .information-contain {
        width: 100%;
        text-align: center;
    }

    .information1 {
        flex-direction: column;
    }

    .txt-name,
    .txt-subject,
    .txt-message,
    .txt-email {
        display: block;
    }

    .but {
        width: 100%;
        text-align: end;
    }

    .tel {
        margin-top: 50px;
        width: 100%;
    }
}

@media(max-width:400px) {
    .txt2 {
        text-align: center;
    }
}