body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 100;
}

.nav.nav-pills.nav-fill {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.33);
    position: fixed;
    z-index: 9;
}

.nav-item {
    line-height: 80px;
}

.nav-link.disabled {
    color: white;
    padding: 0;
}

.nav-link {
    padding: 0;
}

.backdrop {
    background-image: url("../img/back1.png");
    height: 750px;
    background-size: cover;
}

.text-middle {
    padding-top: 13%;
}

.txt1 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
}

.txt2 {
    font-size: 24px;
    margin-bottom: 45px;
    font-weight: 200;
}

.second-part {
    padding-top: 5%;
}

.first-part,
.third-part,
.second-part {
    padding-bottom: 5%;
}

.second-part,
.forth-part {
    background-color: #F4F4F4;
}

.news {
    margin: 0 auto 5% auto;
    max-width: 1200px;
    background-color: white;
}

.bottom {
    margin-bottom: 0;
}

.third {
    padding-top: 3%;
}

.last {
    padding-top: 0;
}

.tm-gallery-img {
    max-width: 300px;
}

.information {
    padding: 3%;
}

.information-contain {
    max-width: 1200px;
    margin: auto;
}

.left-line {
    padding: 0;
}

.right-line {
    padding-right: 0px;
}

.item {
    margin-top: 15px;
}

.dropdown {
    height: 80px;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.33);
}

@media (min-width: 768px) {

    .menu {
        display: none;
    }

    .drop-down {
        display: none;
    }
}

@media(max-width:768px) {

    .nav {
        display: none;
    }
}